{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget category">
     <div class="widget-icon">
         {{ partial "helper/icon" "categories" }}
     </div>
     <h2 class="widget-title section-title">{{ T "widget.categoriesCloud.title" }}</h2>
     <div class="category-label">
        {{ $categoryNames := slice }}
        {{ $categories := dict }}
        {{ range $key, $value := $context.Site.Taxonomies.categories }}
            {{ $categoryNames = $categoryNames | append $key }}
            {{ $categories = $categories | merge (dict $key $value) }}
        {{ end }}
        {{ $sorted := sort $categoryNames }}
        {{ range first $limit $sorted }}
            {{ $cat := index $categories . }}
            <a href="{{ $cat.Page.RelPermalink }}" class="font_size_{{ $cat.Count }}"
                style="border-left-color: {{ $cat.Page.Params.style.background }}; filter:saturate(1.7);">
                {{ $cat.Page.Title }}<span class="category-count">{{ $cat.Count }}</span>
            </a>
        {{ end }}
     </div>
</section>
